body {
  background-color: #FFF;
}

h1  {
  color: #f00;
}

div#test01 {
  color: #00a;
}

.important {
  color: #a00;
}

table{
  margin:auto;
  border-collapse: collapse;
}

td, th{
  border:solid 1px;
  padding:2px 5px;
}

td.name{
  text-align: center;
}

td span.last3{
  font-weight: bold;
}